<ion-card class="ion-activatable" (click)="loadArticle()">
    <img *ngIf="article.category !== 'Video'" src="./../../../../assets/farmer.jpg" class="box-img">
    <img *ngIf="article.category == 'Video'" src="./../../../../assets/farmer-blurred.png" class="box-img">
    <ion-card-header>
        <ion-card-subtitle>{{ article.category }}</ion-card-subtitle>
        <ion-card-title>{{ article.name }}</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
</ion-card>