<ion-content>

  <h3 class="welcome-user ion-padding-start">Welcome, User !</h3>

  <!-- Topics List -->

  <!-- <div class="home-topics ion-nowrap">
    <ion-card class="ion-activatable" *ngFor="let item of [1,2,3,4,5]">
      <img src="https://picsum.photos/250">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>  
  </div> -->

  <div class="home-cards">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="ion-activatable" (click)="loadArticles('')">
            <img src="./../../assets/farmer.jpg" class="box-img">
            <!-- <ion-card-subtitle>1 Update</ion-card-subtitle> -->
            <ion-card-header>
              <ion-card-title>All Articles</ion-card-title>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="ion-activatable" (click)="loadArticles('Health')">
            <img src="./../../assets/health.jpg" class="box-img">
            <!-- <ion-card-subtitle>1 Update</ion-card-subtitle> -->
            <ion-card-header>
              <ion-card-title>Health</ion-card-title>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col size="6">
          <ion-card class="ion-activatable" (click)="loadArticles('News')">
            <img src="./../../assets/agri.jpg" class="box-img">
            <!-- <ion-card-subtitle>1 Update</ion-card-subtitle> -->
            <ion-card-header>
              <ion-card-title>News</ion-card-title>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="ion-activatable">
            <img src="https://picsum.photos/250" class="box-img">
            <ion-card-subtitle>1 Update</ion-card-subtitle>
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div class="trending-articles ion-margin-bottom">

    <h3 class="ion-padding-start">Trending Articles</h3>

    <ion-slides #slides [options]="slideOpts">
      <ion-slide *ngFor="let item of [1,2,3,4,5,6]">
        <ion-card class="ion-activatable">
          <img src="https://picsum.photos/250">
          <ion-card-header>
            <ion-card-subtitle>1 Update</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div> -->

</ion-content>
